 <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Temporadas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">

                <thead>

                <tr>
                  <th>Season</th>
                  <th>Fecha</th>
                  <th>Descripcion</th>
                  <th>Path</th>
                  <th>Editar</th>
                  <th>Eliminar</th>

                </tr>
                </thead>
                <tbody>
                  <% @seasons.each do |season| %>

                <tr>
                  <td><%= season.season%></td>
                  <td><%= season.year %></td>
                  <td><%= season.description %></td>
                  <td><%= season.path%></td>
                  <td><%= link_to "Editar", edit_season_path(season) , class: "btn btn-success btn-sm"%></td>
                 
                  <td> <%=link_to 'Delete', season_path(season), data: { confirm: 'Esta seguror de eliminar el registro?' } , class: "btn btn-danger btn-sm"%></td>



                </tr>
                <% end %>
                

                
                </tbody>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->





 <% content_for :script do %> 
<script>
  $(document).ready(function () {
  $('*[data-confirm]').click(function(){
    return confirm($(this).attr('data-confirm'));
  });
})
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

<% end %> 