 <% content_for :encabezado do %> 
 <section class="content-header">
          <h1>
            Capitulo
            <small>Agregar</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Capitulo</a></li>
            <li class="active">Agregar</li>
          </ol>
        </section>
<% end %> 

 

<div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <% flash.each do |key, value| %>

            <div class="alert alert-<%= key %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= value %></div>
          <% end %>

       

       



          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Capitulo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->


            <%= form_for(@chapter) do |f|%>
            <div class="box-body">
              <div class="form-group">
                <%= f.label :name, 'Nombre'  %>
                <%= f.text_field :name, :class => "form-control", :placeholder => "Ingrese el nombre" , :required =>'true'  %>
              </div>

              <div class="form-group">
                <%= f.label :description, 'Descripcion'  %>
                <%= f.text_field :description, :class => "form-control", :placeholder => "Ingrese la descripcion", :required =>'true'   %>
              </div>
              <div class="form-group">
                <%= f.label :fecha, 'Fecha'  %>
                <%= f.date_field :fecha, :class => "form-control" , :required =>'true' %>
              </div>
              <div class="form-group">
                <%= f.label :duration, 'Duracion'  %>
                <%= f.number_field :duration, :class => "form-control", :placeholder => "Ingrese la duracion", :required =>'true'   %>
              </div>
              <div class="form-group">
                <%= f.label :year, 'Year'  %>
                <%= f.number_field :year, :class => "form-control", :placeholder => "Ingrese el year" , :required =>'true', :max =>"2099", :min =>"1900"  %>
              </div>

                                  
              

              <div class="form-group">
                <label>Series</label>
                <select class="form-control select2" data-placeholder="Seleccione una temporada"
                        style="width: 100%;" name="chapter[season_id]" required ='true'>
                    <% @seasons.each do |season| %>
                          <option value="<%= season.id %>"><%= season.season %></option>


                    <% end %>
                </select>
              </div>

              


            </div>
             <div class="box-footer">
                <%= f.submit 'Agregar', :class => "btn btn-primary"  %>

            </div>
             

            <%end%>

          </div>
        </div>
  </div>

   <% content_for :script do %> 


  <script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

  })
</script>

<% end %> 